@page "{searchString?}"
@model RazorPagesMovie.Pages_Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Log a Pokemon</h1>

<p>
    <a asp-page="Create">New Addition</a>
</p>
<form>
    <p>
        <select asp-for="MovieType" asp-items="Model.Types">
            <option value="">All</option>
        </select>
        <label>Pokemon Name: <input type="text" asp-for="SearchString" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].CatchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].DexNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DexNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Release</a>
            </td>
        </tr>
}
    </tbody>
</table>
